@use '@angular/material' as mat;

@include mat.core();

$dark-palette: mat.define-palette(mat.$indigo-palette, 700);

$light-palette: mat.define-palette(mat.$indigo-palette, 400);

// Define a dark theme
$dark-theme: mat.define-dark-theme(
    (
        color: (
            primary: $dark-palette,
            accent: $dark-palette,
        ),
    )
);

// Define a light theme
$light-theme: mat.define-light-theme(
    (
        color: (
            primary: $light-palette,
            accent: $light-palette,
        ),
    )
);

@include mat.all-component-themes($light-theme);

.darkMode {
    @include mat.all-component-colors($dark-theme);
}
