.contacts-container {
    font-size: calc(2vw + 2vh + 1vmin);
    margin-top: 0.6em;
    font-family: 'Roboto-Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    mat-icon {
        width: 1em;
        height: 1em;
        font-size: 2em;
    }

    .phone,
    .email {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .phone {
        > :first-child {
            color: green;
        }
    }

    .email {
        > :first-child {
            color: orangered;
        }
    }
}
