.contacts-container {
    font-size: calc(2vw + 2vh + 1vmin);
    margin-top: 0.6em;

    .phone,
    .email {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .phone {
        mat-icon {
            color: green;
            width: 1em;
            height: 1em;
            font-size: 2em;
        }
    }

    .email {
        mat-icon {
            color: orangered;
            width: 1em;
            height: 1em;
            font-size: 2em;
        }
    }
}
