.toolbar-container {
    font-family: 'Roboto Black', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    .logo {
        width: 2em;
        cursor: pointer;
    }

    .fill-remaining-space {
        flex: 1 1 auto;
    }

    .nav-buttons {
        display: flex;
        gap: 0.3em;
        align-items: center;
    }
}
