// Rules
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Medium', 'Segoe UI', Tahoma, Geneva, Verdana,
        sans-serif;
    overflow-wrap: break-word;
}

p {
    font-family: 'Roboto Regular', 'Segoe UI', Tahoma, Geneva, Verdana,
        sans-serif;
    overflow-wrap: break-word;
}

.matTooltip {
    font-family: 'Roboto Regular', 'Segoe UI', Tahoma, Geneva, Verdana,
        sans-serif;
}
