.projects-container {
    display: flex;
    gap: 1.2em;
    flex-wrap: wrap;
    padding: 1.4em 0;
    height: 100vh;
    align-items: flex-start;

    // TO DO > We have to find workound 100vh

    .example-card {
        max-width: 400px;

        mat-card-header,
        mat-card-content,
        mat-card-actions {
            padding: 16px;
        }
    }
}
