.projects-container {
    padding: 1.4em;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    place-content: flex-start;
    align-items: baseline;

    .mat-card {
        max-width: 400px;
        width: 400px;

        .tech-used {
            display: grid;
            grid-template-columns: repeat(4, 30px);
            gap: 0.6em;

            .tech {
                img {
                    border-radius: 100vw;
                }
            }
        }

        mat-card-header,
        mat-card-content,
        mat-card-actions {
            padding: 16px;
        }
    }
}
