<div class="projects-container">
    <mat-card class="mat-card" *ngFor="let project of projectsData">
        <mat-card-header class="blck-fnt">
            <mat-card-title>
                <h2>{{ project.title | titlecase }}</h2>
            </mat-card-title>
        </mat-card-header>
        <mat-divider />
        <mat-card-content class="blck-fnt">
            <h4>Built with:</h4>
            <div class="tech-used">
                <div
                    class="tech"
                    *ngFor="let techName of project.tech; trackByIndex"
                >
                    <img
                        src="{{ iconPath + techName + iconExt }}"
                        alt="{{ techName }}"
                        matTooltipClass="md-fnt"
                        matTooltip="{{ techName | titlecase }}"
                    />
                </div>
            </div>
            <h4>Description:</h4>
            <p class="rglr-fnt">{{ project.description }}</p>
        </mat-card-content>
        <mat-divider />
        <mat-card-actions>
            <a
                mat-raised-button
                href="{{ project.link }}"
                target="_blank"
                class="md-fnt"
                color="primary"
                >Source Code</a
            >
        </mat-card-actions>
        <mat-card-footer>
            <mat-progress-bar color="accent" mode="indeterminate" />
        </mat-card-footer>
    </mat-card>
</div>
